<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign-Up</h1>
    <form action="/user" method="post">
        <label>Full Name : </label>
        <input type="text" required placeholder="name" name="name">

        <label>Email : </label>
        <input type="email" required placeholder="email" name="email">

        <label>Password : </label>
        <input type="password" required placeholder="password" name="password">

        <button type="submit">SignUp</button>
    </form>
</body>
</html>