/*p{
    font-size: 20px;
    border: 2px solid black;
}

h1{
    color: crimson;
    background-color: aqua;
}
h2{
    color: purple;
}*/

/* #p1{
    font-size: 28px;
    color: red;
}

.common{
    color: palevioletred;
    border: 2px solid black;
} */

/* p{
    color: red;
    background-color: blanchedalmond;
} */

/* input[type='text']{
    background-color: blueviolet;
}

input[type='email']{
    background-color: blanchedalmond;
} */

/* *{
    background-color: aquamarine;
    border: 4px solid black;

} */


#p1{
    background-color: red;
}






