/* h2{
    background-color: pink;
    color: red;
}
article{
    background-color: yellow;
    color: yellowgreen;
} */



/* *{
    background-color:yellow;
    border: 5px solid black;
    margin: 10px;
} */