*{
    margin: 0px;
    padding: 0px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,aqua,blue);
    color: #fff;
    margin: 100px auto 0; 
    border-radius: 15px;
    padding: 40px 35px;
    text-align: center;
}
.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 16px 25px;
    border-radius: 30px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
font-size: 45px;
font-weight: 400;
margin-top: -10px;
}

.details{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.error{
    text-align: left;
    margin-left: 40px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.weather{
    display: none;
}