*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.card{
    width: 90%;
    max-width: 450px;
    background:linear-gradient(135deg,blue,purple) ;
    color: white;
    margin: 100px auto;
    padding: 40px 35px;
    text-align: center;

}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background-color: white;
    color: rgb(86, 85, 85);
    padding:10px 25px;
    height: 60px;
    border-radius:30px;
    margin-right: 15px;
    font-size: 19px;
}

.search button{
    border: 0;
    outline: 0;
    background-color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.search button img{
    width: 20px;
}