*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(57, 15, 97)
}

.app{
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 15px;
    padding: 30px;
}
.app h1{
    font-size: 30px;
    color:#001e4d;
    font-weight: 900;
}

.quiz{
    padding:20px 0px;
}
.quiz h2{
    font-size: 20px;
    color: #001e4d;
    font-weight: 700;
}
.btn{
    background: white;
    color: #222;
    font: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius:5px ;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color: white;
    transition: all 0.5s;
}


.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 600;
    width:150px;
    border: 0;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    
}

.correct{
    background-color: greenyellow;
}
.incorrect{
    background-color: red;
}
